@import '@/styles/base';
@import '@/styles/responsive';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

@include responsive_mobile() {
  .mbcard {
    display: flex;
    width: 100%;
    height: max-content;
    min-height: 140px;
    border-bottom: 1px solid rgb(206, 196, 196);
    padding-bottom: 5px;
    cursor: pointer;

    &__left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: white;
      position: relative;
      padding: 10px;

      &-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;

        img {
          height: 12px;
          // width: 30px;
        }
      }

      &-cpn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &-infor {
        display: flex;
        height: 15px;
        align-items: center;
        justify-content: space-between;

        .mbcard__left-logo {
          display: flex;
          align-items: center;

          img {
            width: 12px;
            height: 12px;
            margin-left: 5px;
          }

          p {
            color: #262e5d;
            font-size: 5px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
          }
        }

        h3 {
          color: #262e5d;
          font-size: 5px;
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          line-height: 22px;
        }
      }
    }

    &__right {
      flex: 1.5;
      padding: 14px 20px 5px 10px;

      .mbcard__right-title {
        color: #000;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      p {
        margin-top: 5px;
        color: #555;
        font-size: 9px;
        font-family: Roboto;
        font-weight: 300;
        height: 2.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .mbcard__right-list {
        display: flex;
        align-items: center;
        margin-top: 8px;

        .mbcard__right--genuine {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-right: 10px;

          .mbcard__right-sticker {
            width: 2.5rem;
            height: 2.5rem;
          }

          .mbcard__right-text {
            flex: 1;
            color: #fc5151;
            text-align: center;
            font-size: 5px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            margin-top: 0;
          }
        }
      }

      .mbcard__right-price {
        margin-top: 5px;
        width: 100%;
        color: #08c;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        text-align: right;
      }
    }
  }
}
