@import '@/styles/base';
@import '@/styles/responsive';

.container {
  margin-top: 3rem;

  &__title {
    margin: 1rem 0rem;
    font-size: $text-xl;
    font-weight: 450;
    color: $text_800;
  }

  &__content {
    font-size: $text-base;
    color: $text_900;
    font-weight: 400;
  }
}

@include responsive_mobile() {
  .container {
    margin: 3rem 1.5rem 1.5rem 1.5rem;
    &__title {
      font-size: $text-xl-mobile;
    }

    &__content {
      font-size: $text-base-mobile;
    }
  }
}
