@import '@/styles/base';
@import '@/styles/responsive';

.header {
  box-shadow: 0 0 2px rgb(0, 0, 0, 0.05);
  position: relative;

  &__contact {
    height: 42px;
    background-color: $color_primary;
    font-size: $text-sm;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;

    &-item {
      display: flex;

      p {
        padding-left: 8px;
        padding-right: 10px;
      }
    }

    &-icon {
      padding-left: 10px;
    }
  }

  &__nav {
    height: 70px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000000;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.05);

    &-logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      div {
        margin-left: 10px;
      }

      h4 {
        font-size: $text-xl;
        font-weight: 600;
        color: $triadic_900;
      }

      p {
        font-size: $text-sm;
        color: $color_primary;
      }
    }

    &-shield {
      margin: 0 12px;
      position: relative;
      cursor: pointer;

      &-content {
        position: absolute;
        top: 50%;
        transform: translateY(-64%);
        left: 0;
        text-align: center;
        width: 50px;
        color: #fff;

        h4 {
        }

        h5 {
          font-size: 0.8rem;
          font-weight: 600;
          border-bottom: 1px solid #fff;
        }

        p {
          font-size: 0.6rem;
        }
      }
    }

    &-list {
      height: 100%;
      display: flex;
      flex: 1;
    }
    &-mobile {
      display: none;
    }

    &-item {
      margin: 0 14px;
      display: inline;
      position: relative;

      &-link {
        line-height: 70px;
        align-items: center;
        display: block;
        color: $color_primary;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 500;
      }

      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        width: 0;
        content: '';
        height: 2px;
        border-radius: 16px;
        background-color: $primary_900;
        transition: width 0.3s ease;
      }

      .nav-hover {
        width: 80%;
      }

      .nav-active {
        color: $primary_900;
      }
    }
  }
}

@include responsize_resolution() {
  .header {
    &__contact {
      &-item {
        p {
        }
      }

      &-icon {
      }
    }

    &__nav {
      &-logo {
        div {
        }

        h4 {
        }

        p {
        }
      }

      &-shield {
        &-content {
          h4 {
          }

          h5 {
          }

          p {
          }
        }
      }

      &-list {
        display: none;
      }
      &-mobile {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        &--btn {
          padding: 10px;
          margin-left: 10px;
          cursor: pointer;
          color: $color_primary;
          border-radius: 4px;
        }

        &--list {
          position: absolute;
          min-width: 0;
          width: 0;
          height: 100vh;
          top: 70px;
          right: -50px;
          background-color: $color_primary;
          transition: all .3s ease-in-out;
        }

        &--show {
          min-width: 40vw;
        }

        &--item {
          
          a {
            padding: 16px 12px;
            border-bottom: 1px solid white;
            color: white;
            font-size: $text-base-mobile;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        &--search {
          display: none;
        }
      }

      &-item {
        &-link {
        }

        span {
        }

        .nav-hover {
        }

        .nav-active {
        }
      }
    }
  }
}

@include responsive_tablet() {
  .header {
    &__contact {
      &-item {
        p {
        }
      }

      &-icon {
      }
    }

    &__nav {
      &-logo {
        div {
        }

        h4 {
        }

        p {
        }
      }

      &-shield {
        &-content {
          h4 {
          }

          h5 {
          }

          p {
          }
        }
      }

      &-list {
        display: none;
      }
      &-mobile {
        height: 100%;
        display: flex;
        align-items: center;

        &--btn {
          padding: 10px;
          margin-left: 10px;
          cursor: pointer;
          color: $color_primary;
          border-radius: 4px;
        }

        &--list {
          position: absolute;
          min-width: 0;
          width: 0;
          height: 100vh;
          top: 70px;
          right: -50px;
          background-color: $color_primary;
          transition: all .3s ease-in-out;
        }

        &--show {
          min-width: 40vw;
        }

        &--item {
          
          a {
            padding: 16px 12px;
            border-bottom: 1px solid white;
            color: white;
            font-size: $text-base-mobile;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        &--search {
          display: none;
        }
      }

      &-item {
        &-link {
        }

        span {
        }

        .nav-hover {
        }

        .nav-active {
        }
      }
    }
  }
}

@include responsive_mobile() {
  .header {
    &__contact {
      display: none;

      &-item {
        p {
        }
      }

      &-icon {
      }
    }

    &__nav {
      padding: 0 10px;

      &-logo {
        div {
        }

        h4 {
          font-size: $text-xl-mobile;
        }

        p {
          font-size: $text-sm-mobile;
        }
      }

      &-shield {
        &-content {
          h4 {
          }

          h5 {
          }

          p {
          }
        }
      }

      &-list {
        display: none;
      }
      &-mobile {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;

        &--btn {
          padding: 10px;
          margin-left: 10px;
          cursor: pointer;
          color: $color_primary;
          border-radius: 4px;
        }

        &--list {
          position: absolute;
          width: 100vw;
          height: 0;
          overflow: hidden;
          left: 0;
          right: 0;
          top: 70px;
          background-color: $color_primary;
          transition: all .3s ease-in-out;
        }

        &--show {
          height: 100vh;
        }

        &--item {
          
          a {
            padding: 16px 12px;
            border-bottom: 1px solid white;
            color: white;
            font-size: $text-base-mobile;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        &--search {
          width: calc(100% - 20px);
          display: flex;
          align-items: center;
          padding: 8px;
          margin: 10px auto;
          border-radius: 50px;
          background-color: white;
          box-shadow: inset -3px -2px 9px $text_200;

          input {
            border: none;
            padding: 4px 6px;
            font-size: $text-sm;
            width: 100%;
            background-color: transparent;
          }
      
          &-icon {
            color: $text_600;
            cursor: pointer;
            padding: 0 8px;
          }
        }
      }

      &-item {
        &-link {
        }

        span {
        }

        .nav-hover {
        }

        .nav-active {
        }
      }
    }
  }
}