@import "@/styles/base";
@import "@/styles/responsive";

.contact__facility{
    margin-top: 6rem;

    h3{
        font-weight: 500;
        font-size: $text-4xl;
        line-height: $text-4xl;
        color: $primary_900;
        text-align: center;
    }

    &-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAF8FF;
        border-radius: 3.5rem;
        margin: 6rem 8rem;
        padding: 4rem 10rem;

        .contact__facility-left{
            width: 50%;
            margin-right: 10rem;

            h4{
                font-size: $text-3xl;
                font-weight: 400;
                line-height: 3.5rem;
                text-align: center;
                margin-bottom: 4rem;
            }

            div{
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                
                .contact__facility-ic{
                    margin-right: 1.5rem;
                    font-size: 2rem;
                    width: 3rem;
                    height: 3rem;
                }

                a{
                    font-size: $text-xl;
                    line-height: 2.8rem;
                    color: $primary_700;
                    text-decoration: underline;
                }

                p{
                    font-size: $text-xl;
                    line-height: 2.8rem;
                    color: #000;
                }
            }

            button{
                background: #FCFCFC;
                border: 3px solid $primary_700;
                border-radius: 4rem;
                margin: 2rem 0 0 4rem;
                transition: all 0.3s ease;

                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.2rem 2.4rem;

                    .contact__facility-button-ic{
                        font-size: $text-3xl;
                        margin-right: 2rem;
                    }
    
                    p{
                        font-size: $text-xl;
                        line-height: 2.8rem;
                    }
                }
            }

            button:hover{
                background-color: $primary_700;

                .contact__facility-button-ic{
                    color: #fff;
                }

                p{
                    color: #fff;
                }
            }
        }

        img{
            width: 50%;
        }
    }
}

@include responsive_mobile() {
    .contact__facility{
        margin-top: 2rem;
    
        h3{
            font-weight: 500;
            font-size: $text-lg-mobile;
            color: $primary_900;
            text-align: center;
            margin-bottom: 2rem;
        }
    
        &-wrap{
            flex-direction: column-reverse;
            border-radius: 0;
            margin: 0;
            padding: 0;
    
            .contact__facility-left{
                width: 100%;
                margin-right: 0;
                padding: 0 4rem;
    
                h4{
                    font-size: $text-base-mobile;
                    font-weight: 400;
                    text-align: center;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }
    
                div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;
                    
                    .contact__facility-ic{
                        width: 1.5rem;
                        height: 1.5rem;
                    }
    
                    a{
                        font-size: $text-xs-mobile;
                        line-height: 1.8rem;
                        color: $primary_700;
                        text-decoration: underline;
                    }
    
                    p{
                        font-size: $text-xs-mobile;
                        line-height: 1.8rem;
                        color: #000;
                    }
                }
    
                button{
                    margin: 1rem 0 1rem 3rem;
                    border: 1px solid #4E7ECD;
    
                    a{
                        padding: 0.4rem 0.8rem;

                        .contact__facility-button-ic{
                            margin-right: 0.8rem;
                            width: 2rem;
                            height: 2rem;
                        }
        
                        p{
                            font-size: $text-xs-mobile;
                            line-height: 1.8rem;
                        }
                    }
                }
            }
    
            img{
                width: 100%;
                height: 28rem;
            }
        }
    }   
}