////////// COLORS ///////////
/// Palettes
$primary_900: #005796;
$primary_800: #0077b8;
$primary_700: #0088cc; // main
$primary_600: #059be0;
$primary_500: #09a9ee;
$primary_400: #2cb6f1;
$primary_300: #51c3f2;
$primary_200: #81d4f7;
$primary_100: #b3e5fa;
$primary_50: #e1f5fd;

$complimentary_900: #b33700;
$complimentary_800: #cc4400;
$complimentary_700: #da4b03;
$complimentary_600: #e75208;
$complimentary_500: #f2580d; // main
$complimentary_400: #f46f37;
$complimentary_300: #f6885c;
$complimentary_200: #f9a98b;
$complimentary_100: #fbcbb8;
$complimentary_50: #fae8e5;

$analogous_900: #00633c;
$analogous_800: #00815a;
$analogous_700: #009268;
$analogous_600: #00a378;
$analogous_500: #00b186;
$analogous_400: #00bf97;
$analogous_300: #00ccaa;
$analogous_200: #70dbc3;
$analogous_100: #ace9da;
$analogous_50: #ddf6f1;

$triadic_900: #1e00c4;
$triadic_800: #4400cc;
$triadic_700: #550cd2;
$triadic_600: #6619da;
$triadic_500: #711fe0;
$triadic_400: #8949e6;
$triadic_300: #a06deb;
$triadic_200: #bc99f0;
$triadic_100: #d7c2f5;
$triadic_50: #f0e6fb;

/// Text colors
$text_900: #111111;
$text_800: #262626;
$text_700: #434343;
$text_600: #555555;
$text_500: #7b7b7b;
$text_400: #9d9d9d;
$text_300: #c4c4c4;
$text_200: #d9d9d9;
$text_100: #e9e9e9;
$text_50: #f5f5f5;


///////// FONT-SIZE //////////
$text-xs: 1.2rem; // 12px
$text-sm: 1.4rem; // 14px
$text-base: 1.6rem; // 16px
$text-lg: 1.8rem; // 18px
$text-xl: 2rem; // 20px
$text-2xl: 2.4rem; // 24px
$text-3xl: 3rem; // 30px
$text-4xl: 3.6rem; // 36px
$text-5xl: 4.8rem; // 48px
$text-6xl: 6rem; // 60px
$text-7xl: 7.2rem; // 72px
$text-8xl: 9.6rem; // 96px
$text-9xl: 12.8rem; // 128px

$text-xs-mobile: 1rem;
$text-sm-mobile: 1.2rem;
$text-base-mobile: 1.4rem;
$text-lg-mobile: 1.6rem;
$text-xl-mobile: 1.8rem;
$text-2xl-mobile: 2rem;
$text-3xl-mobile: 2.4rem;
$text-4xl-mobile: 3rem;
$text-5xl-mobile: 3.6rem;
$text-6xl-mobile: 4.8rem;
$text-7xl-mobile: 6rem;
$text-8xl-mobile: 7.2rem;
$text-9xl-mobile: 9.6rem;



//////// LOCAL STYLES /////////
$color_primary: $primary_700;
$color_highlight: $complimentary_500;
$color_background_footer: #31135E;

$color_text_heading: $text_900;
$color_text_paragraph: $text_800;