@import '@/styles/base';
@import '@/styles/responsive';

.news__breadcrum {
  display: flex;
  width: max-content;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  color: $primary_900;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  margin-left: 36px;
  margin-top: 20px;
  padding-right: 5px;

  span {
    font-weight: 500;
    font-size: $text-sm;
    line-height: 22px;
  }

  &-home {
    display: flex;
    align-items: center;
    margin-left: 17px;
    margin-right: 10px;
    cursor: pointer;

    .news__breadcrum-ic {
      margin-right: 7px;
    }
  }

  &-tag {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
    cursor: pointer;

    .news__breadcrum-ic {
      font-size: $text-xs;
      margin-right: 10px;
    }
  }
}

@include responsive_mobile() {
  .news__breadcrum {
    display: none;
  }
}