@import '@/styles/base';
@import "@/styles/responsive";

.header-search {
  position: relative;
  // flex: 1;

  &__icon {
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: rgba($color: $text_50, $alpha: 0.5);
    box-shadow: inset -3px -2px 9px $text_200;

    &:hover {
      background-color: $analogous_100;
    }

    &-svg {
      color: $text_500;
    }
  }

  &__wrapper {
    background-color: white;
    height: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all .5s ease-in-out;
  }

  &__input {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50px;
    background-color: white;
    box-shadow: inset -3px -2px 9px $text_200;

    input {
      border: none;
      padding: 4px 6px;
      font-size: $text-sm;
      width: 100%;
      background-color: transparent;
    }

    &-icon {
      color: $text_600;
      cursor: pointer;
      padding: 0 8px;
    }
  }
}

@include responsize_resolution() {
  .header-search {
    flex: 1;
  
    &__icon {
      float: right;

      &:hover {
       
      }
  
      &-svg {
      }
    }
  
    &__wrapper {
    }
  
    &__input {
      input {
      }
  
      &-icon {
      }
    }
  }
}

@include responsive_tablet() {
  .header-search {
    flex: 1;
  
    &__icon {
      float: right;

      &:hover {
       
      }
  
      &-svg {
      }
    }
  
    &__wrapper {
    }
  
    &__input {
      input {
      }
  
      &-icon {
      }
    }
  }
}

@include responsive_mobile() {
  .header-search {
    flex: 1;
    display: none;
  
    &__icon {
      float: right;

      &:hover {
       
      }
  
      &-svg {
      }
    }
  
    &__wrapper {
    }
  
    &__input {
      input {
      }
  
      &-icon {
      }
    }
  }
}