@import '@/styles/base';
@import '@/styles/responsive';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

.product {
  &__header {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    // position: relative;

    &-wrap {
      display: flex;
      flex-direction: column;
      flex: 3;
      margin-top: 3rem;
    }

    &-sort {
      height: 5.7rem;
      display: flex;
      flex-direction: row;
      margin: 0 4rem 0 4rem;
      justify-content: space-between;
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 1rem;
      position: relative;

      &--info {
        margin: auto 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $text-lg;
        line-height: 28px;
        color: #000000;
      }
      &--type {
        display: flex;
        min-width: 21rem;
        height: 4.5rem;
        background-color: #efefef;
        border-radius: 5px;
        margin: auto 0;
        align-items: center;
        justify-content: space-around;
        font-size: $text-lg;
        cursor: pointer;

        img {
          margin-left: 2rem;
        }
      }
      &--content {
        position: absolute;
        top: 85%;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        right: 0;
        z-index: 3;
        width: 21rem;
      }
      .dropdown-list {
        list-style-type: none;
        align-items: center;

        .dropdown-item {
          display: flex;
          justify-content: center; /* Căn giữa ngang */
          align-items: center; /* Căn giữa dọc */
          border-bottom: 1px solid $text_200;
          padding: 1rem;
          font-size: $text-lg;
          cursor: pointer;
        }
      }
    }

    &-container {
      margin: 3rem 4rem 3rem 4rem;
      transition: 500ms;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3.5rem;
      max-width: 100%;
      border-radius: 10px;
      display: grid;
      justify-items: center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      height: 100%;
    }
  }
}

@include responsive_mobile() {
  .product {
    &__header {
      display: flex;
      width: 100%;
      height: 15rem;
      flex-direction: column;
    }

    &__content {
      display: flex;
      width: 100%;
      height: 100%;
      margin-top: 0 !important;
      // position: relative;

      &-sort {
        display: none;
      }

      &-mbsort {
        width: 85%;
        margin: 0 auto;
        max-height: max-content;
        position: relative;
        z-index: 2;

        &--type {
          border: 1px solid $primary_700;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;

          &--icon {
            margin: 0 1rem 0 0;
            width: 2rem;
            height: 2rem;
          }
          &--text {
            font-size: $text-xs;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        &--active {
          background-color: $primary_700;
          color: #fff;
        }

        &--contents {
          .dropdown-list {
            width: 100%;
            position: absolute;
            list-style-type: none;
            align-items: center;
            z-index: 2;
            animation: slideIn 0.2s ease-in-out;
            background: #fff;
            padding: 0 5px;

            .dropdown-item {
              display: flex;
              justify-content: center; /* Căn giữa ngang */
              align-items: center; /* Căn giữa dọc */
              border: 1px solid $primary_700;
              border-radius: 5px;
              padding: 1rem;
              margin: 3px 0;
              font-size: $text-xs;
              font-weight: 500;
              cursor: pointer;
              color: $primary_700;
            }
          }

          @keyframes slideIn {
            0% {
              opacity: 0;
              transform: translateY(-10px);
            }
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }

      &-mobile {
        margin: 3rem 0 3rem 0;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        border-radius: 10px;
        justify-items: center;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: bg 0.1s ease;
  }
  @keyframes bg {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
    100% {
      opacity: 0.5;
      transform: translateY(0);
    }
  }
}
