@import '@/styles/base';
@import '@/styles/responsive';

.container {
  width: 100vw;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;

    &-logo {
      img {
        width: 10rem;
        height: auto;
      }
    }

    &-title {
      display: flex;
      flex-direction: column;
      margin: 3rem;

      &-rec {
        align-self: flex-end;
        width: fit-content;
        padding: 1.2rem 3rem 1rem 6rem;
        background: linear-gradient(0.28turn, $primary_500, $analogous_300);
        clip-path: polygon(0% 15%, 100% 0%, 95% 100%, 25% 100%);

        p {
          font-size: $text-xl;
          font-weight: 400;
          color: white;
        }
      }

      &-name {
        margin-right: 5rem;
        margin-top: 1rem;

        p {
          font-size: $text-5xl;
          font-weight: 500;
          color: $complimentary_500;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row-reverse;
    margin: 5rem 10rem;

    &-left {
      width: 35%;
      &-title {
        width: fit-content;
        font-size: $text-lg;
        color: $color_primary;
        font-weight: 500;
        padding: 1.2rem 6rem 1rem 6rem;
        background: linear-gradient($analogous_50, $primary_200);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      }

      ul {
        margin-top: 3rem;
        margin-left: 2rem;
        list-style: disc;

        li {
          max-width: 20rem;
          margin-top: 1rem;
          font-size: $text-sm;
          color: $text_800;
        }
      }
    }

    &-right {
      &-title {
        padding: 1rem;
        font-size: $text-2xl;
        font-weight: 500;
        color: $text_800;
        border-bottom: 0.2rem solid $text_100;
      }
      &-type {
        margin: 2rem 1rem;
      }
    }
  }
}

@include responsive_mobile() {
  .container {
    &__heading {
      &-logo {
        img {
          width: 7rem;
          height: auto;
        }
      }

      &-title {
        margin: 2rem;
        &-rec {
          padding: 0.7rem 2rem 0.8rem 4rem;

          p {
            font-size: $text-base-mobile;
          }
        }

        &-name {
          margin-right: 4rem;

          p {
            font-size: $text-2xl-mobile;
          }
        }
      }
    }

    &__content {
      display: block;
      // margin: 1rem 2rem;
      margin: 0;

      &-left {
        width: 100%;
        margin-top: 3rem;

        &-title {
          text-align: center;
          width: 100%;
          padding: 1.5rem 0rem;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        ul {
          li {
            width: 90vw;
            max-width: 90vw;
            font-size: $text-base-mobile;
          }
        }
      }

      &-right {
        &-title {
          font-size: $text-lg-mobile;
        }
      }
    }
  }
}
