@import "@/styles/base";
@import '@/styles/responsive';

.contact__form{
    margin: 4rem 8rem;
    border: 3px solid #D0D0D0;
    border-radius: 20px;
    padding: 2rem 4rem;


    h1{
        font-weight: 600;
        font-size: $text-5xl;
        margin-left: 4rem;
    }

    &-position{
        position: relative;

        .contact__form-wrapper{
            display: flex;
            align-items: center;
            width: 100%;
    
            .contact__form-social{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 12rem;
                margin-bottom: 4rem;
    
                &-title{
                    font-weight: 500;
                    font-size: $text-2xl;
                    line-height: 2.8rem;
                    margin-bottom: 4rem;
                }
                
                &-button-facebook{
                    width: 100%;
                    padding: 1rem 1.8rem;
                    display: flex;
                    align-items: center;
                    background-color: #4267B2;
                    margin-bottom: 3rem;
                    border: none;
                    border-radius: 5px;
                    transition: all 0.5s ease;
    
                    &-ic{
                        font-size: $text-4xl;
                        color: #fff;
                    }
                    p{
                        color: #fff;
                        font-weight: 700;
                        font-size: $text-xl;
                        line-height: 2.4rem;
                        margin: 0 auto;
                    }
                }

                &-button-facebook:hover{
                    transition: all 0.5s ease;
                    background-color: rgba($color: #4267B2, $alpha: 0.85);
                }
    
                &-button-zalo{
                    width: 100%;
                    padding: 1rem 1.8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #3C7CFF;
                    border: none;
                    border-radius: 5px;
                    transition: all 0.5s ease;
    
                    &-ic{
                        font-size: $text-4xl;
                        color: #fff;
                    }
                    p{
                        color: #fff;
                        font-weight: 700;
                        font-size: $text-xl;
                        line-height: 2.4rem;
                        margin: 0 auto;
                    }
                }
                &-button-zalo:hover{
                    transition: all 0.5s ease;
                    background-color: rgba($color: #3C7CFF, $alpha: 0.85);
                }
            }
    
            .contact__form-content{
                width: 50%;
                padding: 0 6rem 0 10rem;
                border-left: 1px solid #2218b3;
                display: flex;
                align-items: center;
                justify-content: center;
    
                form{
                    width: 75%;
                    div{
                        margin-bottom: 1rem;
    
                        p{
                            color: #005281;
                            font-weight: 500;
                            font-size: $text-xl;
                            line-height: 3.2rem;
                            margin-bottom: 0.6rem;
                            margin-left: 0.6rem;
                        }
    
                        input{
                            width: 100%;
                            font-size: $text-base;
                            padding: 0.8rem 1.4rem;
                            padding-right: 20px;
                            border-radius: 10px;
                            border: 2px solid #15A7F9;
                        }
    
                        textarea{
                            width: 100%;
                            height: 12rem;
                            padding: 1.2rem;
                            border-radius: 20px;
                            border: 2px solid #15A7F9;
                            outline: none;
                            font-size: $text-base;
                        }
                    }
    
                    button{
                        color: #fff;
                        background-color: $primary_600;
                        padding: 0.2rem 2.4rem;
                        border: none;
                        border-radius: 15px;
                        font-weight: 600;
                        font-size: $text-lg;
                        line-height: 3.5rem;
                        float: right;
                    }
                }
            }
        }
            
        .contact__form-info{
            width: 50%;
            padding-left: 10rem;
            transition: all 0.5s ease;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            right: -1px;
            background-color: #fff;
    
            &-row{
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
    
                .contact__form-info-img{
                    // padding: 1.6rem;
                    border-radius: 50%;
                    background-color: $primary_700;
                    margin-right: 1.4rem;
                    min-width: 6rem;
                    height: 6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    &-ic{
                        // width: 2rem;
                        // height: 2rem;
                    }
                }
    
                p{
                    font-size: $text-xl;
                    line-height: 2.8rem;
                    font-weight: 500;
                }
            }
    
            button{
                background: #fff;
                border: 2px solid #184A7F;
                border-radius: 4rem;
                margin: 2rem 0rem 0 4rem;
                width: fit-content;
                padding: 1.4rem 4.2rem;
                border: none;
                border: 2px solid #0587FF;
                transition: all 0.4s ease;
                display: flex;
                align-items: center;
                justify-content: center;
    
                p{
                    font-size: $text-xl;
                    line-height: 2.8rem;
                    font-weight: 700;
                    color: $primary_700;
                }
            }
            button:hover{
                cursor: pointer;
                box-shadow: inset 20em 0 0 0 $primary_600;

                p{
                    color: #fff;
                }
           }
        }
    }
}
.contact__formMB{
    display: none;
}

@include responsive_mobile() {
    .contact__form{
        display: none;
    }
    .contact__formMB{
        display: block;
        margin: 4rem 0;
        // padding: 2rem 4rem;

        h1{
            font-size: $text-3xl-mobile;
            margin: 2rem;
            margin-left: 4rem;
        }
           
        .contact__form-wrapper{
            flex-direction: column;
            justify-content: center;

            .contact__form-info{
                width: 100%;
                // padding-left: 2rem;
                margin-bottom: 2rem;
        
                &-row{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    padding: 0 5rem;
        
                    .contact__form-info-img{
                        border-radius: 50%;
                        background-color: $primary_700;
                        margin-right: 1.4rem;
                        min-width: 3.5rem;
                        height: 3.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        &-ic{
                            width: 2rem;
                            height: 2rem;
                        }
                    }
        
                    p{
                        font-size: $text-sm-mobile;
                        line-height: 1.8rem;
                        font-weight: 500;
                    }
                }

            }

            .contact__form-button{
                text-align: center;
                margin-bottom: 2rem;

                span{
                    font-size: $text-sm-mobile;
                    font-weight: 500;
                    cursor: pointer;
                }
                span:first-child{
                    position: relative;
                    display: inline-block;
                    margin-right: 2rem;
                    
                    
                    .contact__form-button-line{
                        position: absolute;
                        bottom: -3px;
                        left: 50%;
                        display: block;
                        background-color: $primary_700;
                        height: 2px;
                        transition: all 0.5s ease;
                        transform: translateX(-50%);
                        margin-top: 0.3rem;
                        border-radius: 1rem;
                    }    
                }

                .active{
                    color: $primary_700;
                }
            }
            
            .contact__form-position{
                position: relative;

                .contact__form-social{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 387px;
                    padding: 0 5rem;
                    margin: 2rem 0;
                    // padding-bottom: 20rem;
                    transition: all 0.5s ease;
        
        
                    &-title{
                        text-align: center;
                        font-weight: 500;
                        font-size: $text-base-mobile;
                        line-height: 1.8rem;
                        margin-bottom: 2rem;
                    }
                    
                    &-button-facebook{
                        width: 100%;
                        padding: 1rem 1.8rem;
                        display: flex;
                        align-items: center;
                        background-color: #4267B2;
                        margin-bottom: 1.5rem;
                        border: none;
                        border-radius: 5px;
                        transition: all 0.5s ease;
        
                        &-ic{
                            font-size: 3.5rem;
                            color: #fff;
                        }
                        p{
                            color: #fff;
                            font-weight: 700;
                            font-size: $text-base-mobile;
                            line-height: 1.4rem;
                            margin: 0 auto;
                        }
                    }
    
                    &-button-facebook:hover{
                        transition: all 0.5s ease;
                        background-color: rgba($color: #4267B2, $alpha: 0.85);
                    }
        
                    &-button-zalo{
                        width: 100%;
                        padding: 1rem 1.8rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #3C7CFF;
                        border: none;
                        border-radius: 5px;
                        transition: all 0.5s ease;
        
                        &-ic{
                            width: 3.5rem;
                            height: 3.5rem;
                            color: #fff;
                        }
                        p{
                            color: #fff;
                            font-weight: 700;
                            font-size: $text-base-mobile;
                            line-height: 1.4rem;
                            margin: 0 auto;
                        }
                    }
                    &-button-zalo:hover{
                        transition: all 0.5s ease;
                        background-color: rgba($color: #3C7CFF, $alpha: 0.85);
                    }
                }
    
                .contact__form-content{
                    position: absolute; 
                    top: 0;
                    width: 100%;
                    padding: 0 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    margin-bottom: 2rem;
                    // transform: translateX(100%);
                    transition: all 0.5s ease;
        
                    form{
                        width: 100%;

                        div{
                            margin-bottom: 1rem;
        
                            p{
                                color: #005281;
                                font-weight: 500;
                                font-size: $text-sm-mobile;
                                line-height: 2.2rem;
                                margin-bottom: 0.3rem;
                                margin-left: 0.3rem;
                            }
        
                            input{
                                width: 100%;
                                font-size: $text-xs-mobile;
                                padding: 0.8rem 1rem;
                                padding-right: 20px;
                                border-radius: 10px;
                                border: 2px solid #15A7F9;
                            }
        
                            textarea{
                                width: 100%;
                                height: 12rem;
                                padding: 1rem;
                                border-radius: 20px;
                                border: 2px solid #15A7F9;
                                outline: none;
                                font-size: $text-xs-mobile;
                            }
                        }
        
                        button{
                            color: #fff;
                            background-color: $primary_600;
                            padding: 0.2rem 2.4rem;
                            border: none;
                            border-radius: 15px;
                            font-weight: 600;
                            font-size: $text-sm-mobile;
                            line-height: 2.5rem;
                            float: right;
                        }
                    }
                }
            }
        }  
    }
}