@import '@/styles/base';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

.card {
  position: relative;
  min-height: 40.1rem;
  max-width: 287px;
  box-sizing: border-box;
  border: 1px solid $primary_50;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
  border-radius: 1.2rem;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));

  &__header {
    width: 100%;
    height: 68%;
    background: linear-gradient(244.87deg, #6b5ab0 -26.72%, #4592ec 39.12%, #2a3c97 92.91%);
    border-radius: 10px 10px 0px 0px;
    // padding: 1.8rem 1.4rem 3.2rem 1.4rem;
    position: relative;
    &--container {
      background: #ffffff;
      width: 90%;
      height: 22.4rem;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 46%;
      transform: translate(-50%, -50%);
      border-radius: 4px 4px 0 0;
      z-index: 1;
    }

    &--genuine {
      width: 5.5rem;
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 17%;
      right: 7%;
      align-items: center;
      &-sticker {
        width: 100%;
        height: 100%;
      }
      &-text {
        font-style: normal;
        font-weight: 600;
        font-size: 6px;
        color: #fc5151;
        align-items: center;
      }
    }

    &--insurance {
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 40%;
      right: 7%;
      align-items: center;
      width: 5.5rem;
      &-sticker {
        width: 100%;
        height: 100%;
      }
      &-text {
        font-style: normal;
        font-weight: 600;
        font-size: 6px;
        color: #fc5151;
      }
    }

    &--support {
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 63%;
      right: 7%;
      align-items: center;
      width: 5.5rem;
      &-sticker {
        width: 100%;
        height: 100%;
      }
      &-text {
        font-style: normal;
        font-weight: 600;
        font-size: 6px;
        color: #fc5151;
      }
    }

    &--wgenuine {
      position: absolute;
      border-left: 30px solid transparent;
      border-right: 0px solid transparent;
      border-top: 37px solid #3c448c;
      height: 0;
      width: 130px;
      z-index: 2;
      top: 93%;
      right: 0%;

      &-confirm {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent;
          border-bottom: 16px solid #1c2a5c;
          top: -37px;
          left: -43px;
        }
      }
    }

    &--txtconfirm {
      position: absolute;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      top: 98%;
      right: 7%;
      z-index: 2;
      font-size: 1.2rem;
    }
    &--title {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      &-logo {
        width: 3rem;
        height: 2.8rem;
        margin: 0.5rem 1rem 0.5rem 1.5rem;
        margin-left: 1rem;
      }
      &-content {
        color: #262e5d;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 22px;
        flex: 5;
        text-align: right;
        margin-right: 1rem;
      }
    }
    &--picture {
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    width: 100%;
    // height: 32%;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

    &--name {
      color: #000;
      font-size: $text-base;
      padding: 1rem 1.6rem;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      // line-height: 135%;
      margin-bottom: 0.5rem;
      height: 5rem;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &--info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 1.5rem 0;
      margin-top: 2rem;

      &-company {
        width: 7.3rem;
        height: 2.6rem;
      }
      &-price {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $primary_900;
      }
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__show {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    min-height: 40.1rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
    background-color: rgba(39, 38, 38, 0.775);
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));

    &--info {
      color: $primary_50;
      margin: 7rem 4rem;
      font-style: normal;
      font-weight: 300;
      font-size: $text-base;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    &--button {
      width: 17rem;
      height: 4.1rem;
      background-color: $primary_700;
      margin: 0 auto;
      border-radius: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 4.1rem;
      color: $primary_50;
      cursor: pointer;
      font-weight: 700;

      &:hover {
        background-color: #ffffff;
        color: $primary_700;
        font-weight: 700;
        border: 1px solid #0088cc;
        border-radius: 10px;
        animation: fade-in-button 0.3s forwards;
        cursor: pointer;
      }
    }

    @keyframes fade-in-button {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &:hover &__show,
  .card__show--info-text,
  .card__show--info-button {
    display: block;
    animation: fade-in 0.3s forwards;
  }
}
