@import "@/styles/base";
@import '@/styles/responsive';

.about__thanks{
    position: relative;
    height: 75rem;

    span{
        display: block;
        font-weight: 500;
        font-size: $text-4xl;
        line-height: 3.5rem;
        text-align: center;
        color: $primary_900;
        margin-top: 6rem;
    }

    &-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s 1s ease;

        .about__thanks-mail{
            width: 80rem;
            height: 50rem;
            background-color: #0c455e;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            position: relative;
            transform-style: preserve-3d;
            cursor: pointer;
            
            .about__thanks-cover::before{
                content: '';
                font-size: $text-base;
                position: absolute;
                top: 0;
                left: 0;
                border-left: 40rem solid transparent;
                border-right: 40rem solid transparent;
                border-top: 25rem solid #004968;
                border-bottom: 25rem solid transparent;
                z-index: 6;
                transform-origin: top;
                transform: rotateX(0deg);
                transition: all 1s 1s ease;
            }

            .about__thanks-letter{
                position: absolute;
                z-index: 3;
                top: 0;
                left: 1rem;
                background-color: #dedede;
                width: 78rem;
                // height: 48rem;
                min-height: 48rem;
                // height: fit-content;
                // border-radius: 2rem;
                transition: all 1s ease;
                background-image: url('@/assets/imgs/About/Letter.png');
                background-repeat: no-repeat;
                background-size: cover;
                padding: 0 4rem;
            }

            .about__thanks-letter h1{
                text-align: center;
                color:  #0029BB;
                font-weight: 700;
                font-size: $text-3xl;
                line-height: 5.8rem;
                margin-top: 6rem;
            }
            .about__thanks-letter h2{
                text-align: center;
                font-size: $text-2xl;
                color:  #0029BB;
                font-weight: 600;
                line-height: 5.8rem;
            }
            .about__thanks-letter p{
                font-size: $text-xl;
                color:  #000;
                line-height: 1.2rem;
                transition: all 1s ease;
            }
        }

        .about__thanks-mail:hover .about__thanks-cover::before{
            transform: rotateX(180deg);
            transition: all 1s ease;
            z-index: 1;
        }

        .about__thanks-mail:hover .about__thanks-letter{
            top: -80rem;
            height: 80rem;
            transition: all 1s 1s ease;

            p{
                transition: all 1s 1s ease;
                line-height: 3rem;
            }
        }

        .about__thanks-mail::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-left: 40rem solid transparent;
            border-right: 40rem solid rgb(1, 129, 231);
            border-top: 25rem solid transparent;
            border-bottom: 25rem solid rgb(1, 129, 231);
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            z-index: 4;
        }

        .about__thanks-mail::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-left: 40rem solid rgb(70, 170, 251);
            border-right: 40rem solid transparent;
            border-top: 25rem solid transparent;
            border-bottom: 25rem solid rgb(70, 170, 251);
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            z-index: 5;
        }
    }
    &-wrapper:hover{
        transform: translateX(-50%);
    }
}

@include responsive_mobile() {
    .about__thanks{
        display: none;
    }
} 