@import '@/styles/responsive';

.newsdetail{
    img{
        width: 100%;
    }

    &__wrapper{
        display: flex;
        width: 100%;
    
        padding: 5rem;
    }

    &__activity{
        margin-top: 0rem;
    }
}

@include responsive_mobile() {
    .newsdetail{
        img{
            width: 100%;
            height: auto;
        }
    
        &__wrapper{
            display: flex;
            width: 100%;
            padding: 1rem;

            &-category{
                display: none;
            }
        }
    
        &__activity{
            margin-top: 0rem;
        }
    }   
}