@import '@/styles/base';
@import '@/styles/responsive';

.hder-category {
    transition: max-height .5s ease-in-out;
    max-height: 0;
    overflow-y: scroll;
    list-style: none;
    background-color: $primary_500;
    
    &--show {
        border-bottom: 1px solid #ccc;
        max-height: 40vh;
    }

    &--hidden {
        max-height: 0;
        visibility: inherit;
    }

    &__item {

        &-link {
            padding: 16px 16px 16px 30px;
            color: white;
            font-size: $text-sm;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
        }
    }

    &__sub {
        overflow: hidden;
        background-color: $primary_400;
    }

    &__sub li a {
        padding-left: 60px;
    }
    &__more {
        padding: 14px 0;
        &-link {
            padding: 14px 0;
            font-size: $text-sm;
            color: $primary_100;
        }
    }
}