@import '@/styles/base';
@import '@/styles/responsive';

.container__card {
  display: flex;
  justify-content: space-between;

  &-left {
    width: 60%;

    &-title {
      font-size: $text-base;
      font-weight: 500;
      color: $text_900;
      margin-bottom: 2rem;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-btn {
      border: 0.2rem solid $primary_700;
      padding: 0.8rem 1.5rem;
      border-radius: 2rem;
      font-size: $text-base;
      color: $color_primary;
      font-weight: 400;
    }

    &-btn:hover {
      background-color: $color_primary;
      color: white;
      cursor: pointer;
    }
  }
}

@include responsive_mobile() {
  .container__card {
    &-left {
      &-title {
        font-size: $text-lg-mobile;
        margin-bottom: 1rem;
      }
    }

    &-right {
      &-btn {
        text-align: center;
        margin-left: 1rem;
        width: 12rem;
        font-size: $text-base-mobile;
        padding: 0.7rem 0.2rem;
        border: 0.1rem solid $primary_700;
      }
    }
  }
}
