@import "@/styles/base";
@import "@/styles/responsive";

.about__motto{

    &-title{
        font-size: $text-4xl;
        font-weight: 500;
        line-height: 3.5rem;
        color: $primary_900;
        text-align: center;
        margin-bottom: 6rem;
        margin-top: 6rem;
    }

    div{
        position: relative;

        .about__motto-slider{
            display: flex;
            gap: 15rem;
            transition: transform 150ms ease-out;
            width: 100%;
            
            &-item{
                background-color: #D7FFFA;
                padding: 6rem 3rem;
                border-radius: 2rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    width: calc(100vw*0.3333 - 15rem - 1.3rem);
                }
    
                p{
                    width: 100%;
                    text-align: center;
                }

                &-title{
                    font-weight: 700;
                    font-size: $text-2xl;
                    line-height: 5.5rem;
                    letter-spacing: 0.02em;
                }

                &-content{
                    font-weight: 700;
                    font-size: $text-xs;
                    line-height: 2.5rem;
                    letter-spacing: 0.02em;
                    color: #76768F;
                }
            }

            // &-item:first-child{
            //     margin: 0;
            //     margin-left: -4.8rem;
            // }

            // &-item:last-child{
            //     margin: 0;
            //     margin-right: -4.8rem;
            // }
        }

        .about__motto-curtain{
            display: flex;
            align-items: center;
            margin: auto;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

            &-left{
                width: 30%;
                height: 100%;
                border-radius: 2rem;
                background-color: rgba($color: #fff, $alpha: 0.5);
            }

            &-button{
                width: 40%;
                display: flex;
                justify-content: center;
                z-index: 1;
                gap: 51rem;

                &-left{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem 2.2rem;
                    border-radius: 50%;
                    border: none;
                    box-shadow: -1px 2px 20px -1px rgba(0, 0, 0, 0.25);
                    // margin-right: 26rem;
                    transition: all 0.3s ease;
    
                    &:hover{
                        transform: translateY(-0.3em);
                    }
                }

                &-right{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem 2.2rem;
                    border-radius: 50%;
                    box-shadow: -1px 2px 20px -1px rgba(0, 0, 0, 0.25);
                    // margin-left: 26rem;
                    transition: all 0.3s ease;
                    border: none;

                    &:hover{
                        transform: translateY(-0.3em);
                    }   
                }
            }

            &-right{
                width: 30%;
                height: 100%;
                // width: 44.1rem;
                border-radius: 20px;
                background-color: rgba($color: #fff, $alpha: 0.5);
            }
        }
    }
}

@include responsive_mobile() {
    .about__motto{

        &-title{
            font-size: $text-lg-mobile;
            font-weight: 500;
            color: $primary_900;
            text-align: center;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
    
        div{
            position: relative;
    
            .about__motto-slider{
                display: flex;
                gap: 2rem;
                transition: transform 150ms ease-out;
                width: 100%;
                overflow-x: scroll;
                // overflow: hidden;

                
                &-item{
                    background-color: #D7FFFA;
                    padding: 2rem;
                    border-radius: 2rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    img{
                        width: calc(100vw*0.5);
                    }
        
                    p{
                        width: 100%;
                        text-align: center;
                    }
    
                    &-title{
                        font-weight: 700;
                        font-size: $text-sm-mobile;
                    }
    
                    &-content{
                        min-height: 3rem;
                        font-weight: 700;
                        font-size: $text-xs-mobile;
                        color: #76768F;
                    }
                }
    
                &-item:first-child{
                    margin: 0;
                    // margin-left: -19.4rem;
                }
            }
            .about__motto-slider::-webkit-scrollbar{
                height: 0.4rem;
            }
    
            .about__motto-curtain{
                display: none;
            }
        }
    }
}